td, a, h1, h2,h3,h4,li,a,p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}
h1, h2{
  color: #e00909;
  font-size: 25px;
  text-shadow:2px 2px 2px rgb(0,0,0) ;
  font-weight: bold;
}
h3{
  color: #e00909;
  font-size: 18px;
  text-shadow:0px 1px 1px rgb(0,0,0) ;
  font-weight: bold;
}
p{
  font-size: 18px;
  color: #000;
}
.header
{
  width: 100%;
  background-color:#ece4d2 ;
  padding: 10px 0;
  top: 0;
  position: fixed;
  z-index: 1;
  display: block;
  
  
}

.header_menu{
  margin: 20px;
}

.header_menu  li {
  margin-left: 25px;
  float: left;
  display: inline-block;


}

.header_menu li a{
  color:#e00909 ;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 0;

}
.header_menu li a.menu-ativo{
  color: #fff;
}


.header_menu li a.menu-ativo::after{
  color: #fff;
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  background:#fff;
  margin: 6px auto;
}

.header_menu  li a:hover {
  color:black;
}

.botoes{
  flex-direction: column;
}

.link
{
  text-decoration: none;

}

.btn{
    padding: 8px 10px;
    margin-top: 10px ;
    border: 3px solid #e00909;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
    color: #e00909;
    background: transparent;
    
}

.btn:hover{
    background-color: #e00909;
    color: rgb(255, 255, 255);
}
/* .btn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 150%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  /* background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.25), transparent); */


.btn_pesquisa{
  margin: 0;
  margin-left:10px ;
  height:30px;
  padding: 4px 10px;
}


.pesquisa:focus{
  width: 250px;
  border-color:black;
  
}
.pesquisa::placeholder
{
  color:#e00909;
}
input{
  outline: none;
  border-color:#e00909;
  width: 150px;
  height: 30px;
  transition: width 1.5s;
  color: black;
  
}
.card {
  max-width: 300px;
  height: 330px;
  box-sizing: border-box;
  display: flex;
  align-items: center ;
  flex-direction: column;
  color: black;
  border: solid 2px;
  justify-content: space-around;
  margin: 5px 5px 5px 0px;
  
}
.img {
  max-width: 200px;
  max-height: 200px;

}
 img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding:0px;
  }

.barra_pesquisa{
  float: right;
  display: flex;

}
.flex{
  display: flex;
  justify-content: space-between;

}

.margem {
  margin-top: 80px;
}

.login{
display: flex;
justify-content: space-between;
}
.logar{
  margin-top:60px;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  display: flex;
  flex: 1;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
footer
{
  background-color:#ece4d2 ;
  padding: 30px;
  bottom: 0px;
}